# Husky
.husky

# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
dist
coverage
.angular
build

# Nx
.nx/cache

# Environment files
.env*

# IDEs and editors
.idea
.vscode
*.sublime-workspace
*.sublime-project
